body {
	background-color: #1E1E1E;
	color: #D9D9D9;
	padding: 90px 0 0 0;
	font-family: arial, sans-serif;
}

/* CONTENT CSS */

#home h4 {
	text-align: center;
	line-height: 32px;
}
#home h4 span {
	font-size: 40px;
	color: #F9F9F9;
}
.text-center {
	text-align: center;
}
.control-group label {
	color: #1E1E1E;
}
.control-group button {
	width: 100%;
}
.well h3 {
	color: #1E1E1E;
	text-shadow: 0 1px 0 #FFFFFF;
	margin: 0;
	padding: 0;
}

/* NAVIGATION CSS */
.navbar-inner {
	background: #d9d9d9; /* Old browsers */
	background: -moz-linear-gradient(top,  #d9d9d9 0%, #ededed 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d9d9d9), color-stop(100%,#ededed)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #d9d9d9 0%,#ededed 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #d9d9d9 0%,#ededed 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #d9d9d9 0%,#ededed 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #d9d9d9 0%,#ededed 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d9d9d9', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
	-moz-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
}
.nav li {
	line-height: 45px;
}
.navbar .nav .dropdown-toggle .caret {
	margin-top: 20px;
}
.navbar .nav > li > a {
	color: #999999;
	text-shadow: 0 1px 0 #FFFFFF;
}
.navbar .nav > li > a:hover {
	color: #555555;
}
.navbar .nav > li.active > a {
	color: #555555;
	text-shadow: 0 1px 0 #FFFFFF;
}
.navbar-form input[type="checkbox"] {
	margin-top: 0px;
}
.navbar-form label {
	color: #1E1E1E;
	display: inline-block;
}
.forgot-password {
	margin: 5px 0 0 2px;
}
#remember_me {
	margin-left: 25px;
}
.logo {
	float: left;
	margin-right: 18px;
	margin-top: 8px;
}

/* FOOTER CSS */
#footer {
	background: url(/assets/img/footer-bar.png) top left repeat-x;
	width: 940px;
	margin-top: 20px;
	padding-top: 20px;
}
#footer ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
#footer ul li {
	float: left;
	margin: 0 10px 0 0;
}